body, html {
    padding: 0;
    margin: 0;
    background: #2a363b;
}


/* HEADER */
.header {
    background-color: #1b2225;
    opacity: 80%;
    text-align: center;
    width:100%;
    padding-top: 10px;
    padding-bottom: 0px;
    margin: 0;
    height: 80px;
  }

.header a.title {
    text-align: center;
    font-weight: 400;
    color:antiquewhite;
    text-decoration: #99B898 underline dashed;
    font-size: 50px;
    /* font-family: Segoe UI, Futura, Arial, sans-serif; */
    font-family: monospace, serif;
}

.header a.title:hover {
    opacity: 1;
    color:rgb(119, 40, 53);
}

/* A DECOR */

a {
    
}

/* paragraph */
p {
    line-height: 2;
}

div {
    height: 700px;
    border: solid;

}

/* LINKS */
#boxes {
    position:absolute;
    content: "";
    display: table;
    font-size: 30px;
    clear: both;
    width: 100%;
    text-align: center;
    text-anchor: middle;
}

#link1 {
    float: left;
    height: 40px;
    margin:0;
    border:0;
    text-decoration:none;
    font-size: 30px;
    width: 25%;
    color:antiquewhite;
    padding-top: 10px;
    background-color: #000000;
}

#link1:hover {
    background-color: rgb(119, 40, 53);
}

#link2 {
    float: left;
    height: 40px;
    margin:0;
    border:0;
    text-decoration:none;
    width: 25%;
    color:antiquewhite;
    padding-top: 10px;
    background-color: #000000;
}

#link2:hover {
    background-color: rgb(119, 40, 53);
}

#link3 {
    float: left;
    height: 40px;
    margin:0;
    border:0;
    text-decoration:none;
    width: 25%;
    color:antiquewhite;
    padding-top: 10px;
    background-color: #000000;
}

#link3:hover {
    background-color: rgb(119, 40, 53);
}

#link4 {
    float: left;
    height: 40px;
    margin:0;
    border:0;
    text-decoration:none;
    padding-top: 10px;
    width: 25%;
    color:antiquewhite;
    background-color: #000000;
}

#link4:hover {
    background-color: rgb(119, 40, 53);
}

/* IMAGE */
#imgBack {
    background-image: url(pictures/mepicture.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    min-height: 900px;
    object-fit: cover;
}

/* rest of page */

#boxes2 {
    position:absolute;
    content: "";
    padding-top: 10px;
    display: table;
    font-size: 30px;
    clear: both;
    width: 100%;
    text-align: center;
    text-anchor: middle;
}

#block1  {
    border-width: 2px;
    border-style: dashed;
    border-left: #000000;
    border-color: antiquewhite;
    float: left;
    height: 350px;
    text-decoration:none;
    font-size: 30px;
    width: 20%;
    color:antiquewhite;
    padding-top: 10px;
    background-color: #000000;
}

#block2 {
    float: left;
    height: 350px;
    border:0;
    text-decoration:none;
    font-size: 30px;
    width: 75%;
    color:antiquewhite;
    padding-top: 10px;
}

li {
    font-size: 20px;
    text-align: left;
}

p {
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
}
